/*---------------------tips--------------------*/
.renata_tips{
    @include flex(center,center,center);
    padding: 10px;

    img{
        width: 200px;
        height: 200px;
        border-radius: 10%;
        padding: 10px;
        background-color: white;
        margin: 10px;}    
}

.tips_texto{
    border-radius: 10%;
    background-color: rgb(250, 207, 164);
    padding: 10px;
}



